:root {
  --midnight: #1d1c43;
  --midnight-dark: #04062e;
  --cinema-red: #b02623;
  --cozy-purple: #3b3369;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--midnight);
  margin: 0;
  font-family: "Poppins";
  color: white;
}

h1 {
  margin: 0;
  font-size: 40px;
}

p {
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
}

.logotype {
  background-image: url(/assets/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 200px;
  height: 100px;
  margin: 10px 0px 0px 25px;
}

nav {
  display: flex;
  margin: 50px 50px 15px 50px;
  gap: 50px;
}

nav a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline solid transparent;
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  text-decoration: underline;
}

.neon-desktop {
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("assets/neon-desktop.svg");
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  top: -25px;
  z-index: 1;
}

/* HERO */

.hero {
  width: 100%;
  height: 606px;
  display: flex;
  padding: 0px 150px;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
  background-image: url("images/heromovie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  top: -76px;
}

.genre {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  height: 25px;
  padding: 0px 15px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 800;
}

.hero-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.details-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN CONTENT */

.about {
  display: flex;
  margin: 0px 150px;
  gap: 130px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.made-by {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.p-small {
  font-size: 14px;
  font-weight: 400 !important;
}

.movie-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-buttons button {
  width: 200px;
  height: 40px;
  background-color: var(--cinema-red);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  transition: all ease-in-out 0.3s;
}

.movie-buttons button:hover {
  background-color: rgb(146, 3, 0);
  cursor: pointer;
}

.movie-images {
  display: flex;
  padding: 50px 150px;
  justify-content: space-between;
}

.image-one,
.image-two,
.image-three {
  width: 300px;
  height: 200px;
}

.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 150px;
}

.show-details {
  display: flex;
  gap: 40px;
  margin: 20px 0px;
}

.show-date-wrapper,
.show-location-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.date,
.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shows {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 40px;
}

.show-wrapper {
  background-color: var(--cozy-purple);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  padding: 30px;
}

.show-wrapper:hover,
.active {
  background-color: var(--cinema-red);
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  cursor: pointer;
}

.available-tickets {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 65%;
}

.picked-movie-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
}

.details {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.movie-poster {
  border-radius: 5px;
}

.details-text h2 {
  margin: 5px 0px;
}

.tickets-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--cinema-red);
  height: 45px;
  width: 55px;
}

.plus,
.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ff7979;
}

.plus {
  border-radius: 5px 0px 0px 5px;
}

.minus {
  border-radius: 0px 5px 5px 0px;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.confirm button {
  height: 45px;
  width: 130px;
}

.continue {
  color: #ff6262;
  border: 2px solid #ff6262;
}

.date p,
.location p,
.show p {
  font-weight: 800;
}

/* FOOTER */

footer {
  background-color: var(--midnight-dark);
  height: 123px;
  margin-top: 100px;
}
