:root {
  --midnight: #1d1c43;
  --cinema-red: #b02623;
  --cozy-purple: #3b3369;
  --dark-midnight: #04062E;
}


@font-face {
  font-family: 'Alba';
  src: url('fonts/ALBA____.TTF') format('TFF'),
       url('fonts/ALBAM___.TTF') format('TFF'),
       url('fonts/ALBAS___.TTF') format('TFF');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--midnight);
  margin: 0;
  font-family: "Poppins";
  color: white;
}

.add-string-desktop, .navStrings, .neonDesktop, .hero-desktop, .arrowWhite {
  display: none;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70px;
  justify-content: center;
  position: relative;
  align-content: center;
}


.logotype {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 180px;
  height: 90px;
  align-self: start;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
}

.barLine, .logotype {
  position: absolute;
}

.barLine:nth-of-type(1) { 
  top: 10px;
  left: 5px;
}

.barLine:nth-of-type(2) { 
  top: 16px;
  left: 5px;
}

.barLine:nth-of-type(3) { 
  top: 22px;
  left: 5px;
}




.neonMobile {
  width: 100%;
  height: 80px;
  background-image: url("assets/neon-mobile.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}




/* HERO MOBILE*/

.hero {
  width: 100%;
  height: 280px;
  background-image: url("images/play-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  background-position: center top;
  box-shadow: 0px -50px 50px 0px var(--midnight) inset, 0px -30px 30px 0px var(--midnight) inset;
  position: relative;
  bottom: 35px;
}

.border-hero {
  height: 7px;
  width: 100%;
  position: absolute;
  background-color: var(--midnight);
  bottom: -1px;
  z-index: 3;

}


.playButton, h6, h1 {
  position: absolute;
}

.playButton {
  opacity: 0.8;
  left: 50%;
  top:50%;
  transform: translateX(-50%);
}

h6 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.5px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* SLIDES */

.headline {
  padding: 60px 20px 0px 20px;
  position: relative;
}


h2, h3, .arrowRed {
  position: absolute;
}


h2 {
  margin: 0px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  bottom: 0px;
  left: 20px;
}


h3 {
  margin: 0px;
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  bottom: 0px;
  right: 45px;
  color: var(--cinema-red);
}


.arrowRed {
  bottom: 1px;
  right: 30px;
}


.slideContainer {
  position: relative;
  padding: 10px 20px 90px 20px;
}

.border {
  height: 180px;
  width: 5px;
  position: absolute;
  background-color: var(--midnight);
  right: 16px;
  z-index: 3;
}

.sliderWrapper {
  position: relative;
  margin: 0;
  
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 90px 0px 3rem -0.75rem var(--midnight) inset;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 140px;
  height: 180px;
  border-radius: 5px;
}


figure {
  margin: 0px;
  padding-right: 12px;
}


figcaption {
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: 300;
  color: rgba(191, 191, 191, 0.80);
  letter-spacing: 0.4px;
}


.sliderNav {
  display: flex;
  column-gap: 6px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
}

.sliderNav a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider a:hover {
  opacity: 100%;
}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 180px;
  width: 80px;
  background: linear-gradient(to right, transparent 0%, var(--midnight) 90%);
  z-index: 1;
}


/* ADD */


.add {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  height: 230px;
  padding: 0px 20px;
}

.add-string, h4, h5 {
  position: absolute;
}

.backgroundAdd {
  position: relative;
  background-color: var(--cinema-red);
  width: 350px;
  height: 170px;
}


h4 {
  font-family: 'Poppins';
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgba(191, 191, 191, 0.80);
  top: -25px;
  right: 0px;
}


.add-string {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}


h5 {
  font-family: 'Poppins';
  font-size: 8px;
  font-weight: 300;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.news-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(114, 149, 223);
}



/* FOOTER */



footer {
  position: relative;
  background-color: var(--dark-midnight);
  padding: 20px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 200;
  color:white;
  opacity: 70%;
  width: 100%;
  height: 350px;
  letter-spacing: 2px;
}


.button-language, .arrow-language, .globe, .phone-number, .phone, .mail-adress, .mail, .copyright {
  position: absolute;
}


.button-language {
  border: 0px;
  font-size: 16px;
  border-radius: 3px;
  background: #212352;
  width: 142px;
  height: 33px;
  color:white;
  text-align: left;
  margin-top: 20px;
}

.arrow-language {
  top: 50px;
  left: 140px;
}
.globe {
  top:48px;
  left: 175px;
}
.phone-number {
  top: 120px;
  left: 20px;
  color: white !important;
}
.phone {
  top: 118px;
  left: 140px
}
.mail-adress {
  top: 185px;
  left: 20px;
}
.mail {
  top: 185px;
  left: 220px;
}

.copyright {
  top: 250px;
}

.playButton:hover, .bar:hover, h3:hover, .arrowRed:hover, .sliderNav:hover, .button-language:hover, figcaption:hover, .hero:hover, figure:hover, .tickets:hover, .trailer:hover, .navString1:hover, .navString2:hover, .navString3:hover, .logotype:hover {
  cursor: pointer;
}



/* MEDIA BREAKPOINTS */


@media (max-width: 390px) {
  .backgroundAdd {
    width: 100%;
    max-width: 350px;
  }
}


@media (min-width: 900px) {
/* HIDE */
   .neonMobile, .hero, h3, .arrowRed, .add-string {
  display: none;
  }

  /* NAVBAR */
  .barLine {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 110px;
    position: relative;
    justify-content: end;
    align-items: center;
    margin:0px;
    flex-direction: row;
  }

  
  .logotype {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 285px;
    height: 180px;
    position: absolute;
    left: 157px;
    top: -15px;
  }
  
  nav {
    display: flex;
    margin: 50px 50px 15px 50px;
    gap: 50px;
  }
  
  nav a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline solid transparent;
    transition: all 0.5s ease-in-out;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  .neonDesktop {
    display: block;
    width: 100%;
    height: 120px;
    background-image: url("assets/neon-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
  }
  



  /* HERO */

  
  .hero-desktop {
    display: block;
    width: 100%;
    height: 690px;
    background-image: url("images/back-to-the-future.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% left;
    z-index: 0;
    background-position: center top;
    box-shadow: 0px -50px 50px 0px var(--midnight) inset, 0px -30px 30px 0px var(--midnight) inset;
    position: relative;
    bottom: 41px;
  }
  .trailer, .tickets, .back-to-the-future {
    position: absolute;
  }
  .back-to-the-future {
    bottom: 60px;
    right: 100px;
  }
  .trailer {
    top: 130px;
    left: 90px;
  }
  .tickets {
    top: 210px;
    left: 113px;
  }
  .trailer, .tickets {
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    padding: 10px 28px;
    border-radius: 5px;
    background: var(--cinema-red);
    color: white;
    text-transform: uppercase;
    border: 0px;
    transition: all ease-in-out 0.3s;
  }
  .hero-desktop button:hover {
    background-color: rgb(146, 3, 0);
  }

  /* SLIDES */
  
  h2 {
    font-size: 40px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider img {
    width: 300px;
    height: 400px;
  }
  .slideContainer {
    padding: 40px;
    padding-bottom: 90px;
  }
  .arrowWhite {
    display: block;
    position: absolute;
    z-index: 4;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 220px;
    padding:10px;
  }
  figure {
    padding-right: 35px;
  }
  figcaption {
    font-size: 18px;
  }
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 402px;
    width: 300px;
    background: linear-gradient(to right, transparent 0%, var(--midnight) 85%);
    z-index: 1;
  }
  .border {
    height: 400px;
    width: 5px;
    position: absolute;
    background-color: var(--midnight);
    right: 38px;
    z-index: 3;
  }
  .sliderNav a {
    display: none;
  }

  /* ADD*/

  .add {
    padding: 180px 40px 250px 40px;
    margin: 0 auto;
  }
  .backgroundAdd {
    width: 1100px;
    height: 210px;
    border-radius: 10px;
  }
  .add-string-desktop {
    display: block;
    position: absolute;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  h4 {
    font-size: 20px;
    top: -60px;
  }
  h5 {
    font-size: 16px;
    font-weight: 300;
  }

  /* FOOTER */

  footer {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    position: none;
  }
  .language-container,
  .phone-container,
  .mail-container,
  .copyright-container {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 10px;
    width: 25%;
    
  }
  .language-container, .phone-container, .mail-container, .copyright-container {

    position: relative;
  }
  .button-language, .arrow-language, .globe, .phone-number, .phone, .mail-adress, .mail, .copyright{
    position: absolute;
    top: 35px;
  }
  .button-language {
    margin: 0;
  }
  .globe {
    top:42px;
  }
  .arrow-language {
    top: 45px;
    left: 130px;
  }


}
