:root {
  --midnight: #1d1c43;
  --cinema-red: #b02623;
  --cozy-purple: #3b3369;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--midnight);
  margin: 0;
  font-family: "Poppins";
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: center;
  position: relative;
  align-content: center;
}

.logotype {
  display: flex;
  background-image: url(/assets/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 180px;
  height: 90px;
  align-self: start;
  left: 50%;
  transform: translateX(-50%);
  top: -5px
}

.barLine, .neonLine, .logotype {
  position: absolute;
}

.barLine:nth-of-type(1) { 
  top: 10px;
  left: 5px;
}

.barLine:nth-of-type(2) { 
  top: 16px;
  left: 5px;
}

.barLine:nth-of-type(3) { 
  top: 22px;
  left: 5px;
}

.neonLine {
  width: 100%;
  object-fit: contain;
  margin: 0px;
}

.neonLine:nth-of-type(1) { 
  top: 60px;
}

.neonLine:nth-of-type(2) { 
  top: 80px;
}


/* HERO */

/* MAIN CONTENT */

/* FOOTER */
